body{
  background-color: antiquewhite;

}



/* .edit {
margin-left:8em ;
}
.delete {
  margin-left:8em ;

} */

.todo{
  align-items: center;
  justify-content: center;
  display: flex;
}

.todo_heading{
  align-items: center;
  justify-content: center;
}